<?php

/**
 * For the sake of the example this file can be used as-is. Simply rename this file
 * to doctrine.local.php
 *
 * Use this command to gain CLI usage of Doctrine and Doctrine-dbal, and change hash to be
 * the ID of the web container.
 *
 * $ docker exec -i -t 938657fa9b5e bash
 *
 * Then we now have access to:
 * $ php vendor/bin/doctrine list
 * $ php vendor/bin/doctrine-dbal list
 *
 */

declare(strict_types=1);

use Doctrine\ORM\Mapping\Driver\AnnotationDriver;
use Doctrine\Common\Persistence\Mapping\Driver\MappingDriverChain;
use Ramsey\Uuid\Doctrine\UuidType;

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
// could use this instead                   'url' => 'mysql://dbuser:dbpassword@localhost/dbname',
                    'driver' => 'pdo_mysql',
                    'host' => 'db', // uses the name of the container from docker-compose
                    'dbname' => 'dbname',
                    'user' => 'dbuser',
                    'password' => '654321',
                ],
            ],
        ],
        'types' => [
            UuidType::NAME => UuidType::class,
        ],
        'driver' => [
            'orm_default' => [
                'class' => MappingDriverChain::class,
                'drivers' => [
                    'App\Entity' => 'app_entity',
                ],
            ],
            'app_entity' => [
                'class' => AnnotationDriver::class,
                'cache' => 'array',
                'paths' => [__DIR__ . '/../../src/App/src/Entity'],
            ],
        ],
    ],
];
